# Datos
data/
*.csv
*.zip

# Modelos
*.pth
*.pt
*.pkl
*.h5
*.onnx

# Excepciones: artefactos necesarios para que la app Streamlit replique
!streamlit_app/data/
!streamlit_app/data/*.csv
!streamlit_app/models/
!streamlit_app/models/*.pth

# Entornos y caché
__pycache__/
*.pyc
.env
venv/
env/
.ipynb_checkpoints/

# SO
.DS_Store
Thumbs.db
