# Data Science y Machine Learning
numpy
pandas
scikit-learn
matplotlib
seaborn

# Deep Learning (PyTorch)
torch
torchvision
torchaudio

# Web App
streamlit
Pillow

# Jupyter / Notebooks
notebook
ipykernel
